
.borow {
  background: $red-light;
}

.lend {
  background: $gray;
}

.anytime {
  background: $blue;
}

.container {
  max-width: 960px;
}

.footer-mid {
  p {
    font-size: 0.8125rem;
  }
}

// any anchor tag inside paragraph tag
p a {
  text-decoration: none;
  font-weight: bold;
}