@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css");
@import "colors";

body {
  padding-top: 3.53em;
  @media screen and (max-width: 576px) {
    padding-top: 92px;
  }
}



.hero {
  height: 450px;
  @media screen and (max-width: 576px) {
    height: calc(100vh - 92px);
    width: 100%;
  }
  min-height: 100%;
  background: linear-gradient(to top, #000000, #4646463c), url("/assets/img/picography-rustic-coffee-sign.jpg") no-repeat center;
  background-size: cover;
  h2 {
    font-size: 1.8rem;
    @media screen and (max-width: 576px) {
      font-size: 1rem;
    }
    @media screen and (max-width: 767px) {
      font-size: 1.3rem;
    }
  }
}

.search-box {
  display: relative;
  background: #ffffffbd;
  max-width: 75%;
  @media screen and (max-width: 576px) {
    max-width: 100%;
    padding: 1em;
    transform: padding 1s;
  }
  margin: 0 auto;
  padding: 3em;
  border-radius: 0.5rem;
}

.top-nav {
  background-color: $red;
  @media screen and (max-width: 576px) {
    .menu, .brand {
      flex: 1 0 100%;
    }
  }
}

.locations {
  background: #c7a17a;
}
